# OS X
.DS_Store*
#Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/84532/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
